################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/imageEnhancer/.vs/imageEnhancer/v15/Browse.VC.opendb
/imageEnhancer/.vs/MyGUI/v15/Browse.VC.opendb
/imageEnhancer/.vs/MyGUI/v15/Browse.VC.opendb
*.opendb
/imageEnhancer/.vs/MyGUI/v15/Browse.VC.opendb
/imageEnhancer/.vs/MyGUI/v15/Browse.VC.opendb
